<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    
    {% if page_description %}
        <meta name="description" content="{{ page_description | escape }}" />
    {% endif %}
    <meta name="viewport" content="width=device-width">
    <title>
        {{ page_title }}{% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
    </title>
    <link rel="canonical" href="{{ canonical_url }}" />

    {{ 'main.css' | asset_url | stylesheet_tag }}
    {{ 'modernizr-2.6.2.min.js' | asset_url | script_tag }}

    {% include 'open-graph-tags' %}
    {{ content_for_header }}

</head>
<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >
<div class="l-container clearfix">
    <header class="l-main-header clearfix">
        <a href="http://primal7.com" class="l-main-logo">
            <img src="{{ 'primal7_lrg_logo.svg' | asset_url }}" alt="Primal 7" class="main-logo">
        </a>
        <nav class="main-nav clearfix">
            <ul class="l-hor-nav">
                <li class="menu-item menu-item-63">
                    <a href="{{ shop.url }}">Shop</a>
                </li>
                <li class="menu-item menu-item-60">
                    <a href="http://primal7.com/product/">Product</a>
                </li>
                <li class="menu-item menu-item-67">
                    <a href="http://primal7.com/origins/about-us/">Origins</a>
                </li>
                <li class="menu-item menu-item-68">
                    <a href="http://primal7.com/connect/contact/">Connect</a>
                </li>
            </ul>
        </nav> 
    </header>
    {{ content_for_layout }}
    <footer class="l-main-footer main-footer">
        <section class="l-social-media-footer-links social-media-links clearfix">
            <h1 class="social-media-links-title">Social</h1>
            <ul class="l-hor-nav">
                <li><a href="https://twitter.com/Primal7_System" target="_blank" class="sml-twitter ir">Follow Primal 7 on Twitter</a></li>
                <li><a href="https://www.facebook.com/pages/Primal-7/603576436394949" target="_blank" class="sml-facebook ir">Follow Primal 7 on Facebook</a></li>
                <li><a href="http://www.linkedin.com/company/primal-7?trk=top_nav_home" target="_blank" class="sml-linkedin ir">Follow Primal 7 on LinkedIn</a></li>
                <li><a href="http://www.pinterest.com/Primal7/" target="_blank" class="sml-pinterest ir">Follow Primal 7 on Pinterest</a></li>
                <li><a href="mailto:info@primal7.com" class="sml-email ir">Contact Primal 7</a></li>
                <li><a href="http://instagram.com/primal_7" target="_blank" class="sml-instagram ir">Follow us on Instagram</a></li>
            </ul>
        </section>
        <section class=l-footer-links>
            <h1 class="social-media-links-title">Links</h1>
            <nav class="footer-nav clearfix">
                <ul class="">
                    <li id="menu-item-69" class="menu-item menu-item-69"><a href="{{ shop.url }}">Shop</a></li>
                    <li id="menu-item-70" class="menu-item menu-item-type-post_type menu-item-object-page current-page-ancestor menu-item-70"><a href="http://primal7.com/product/">Product</a></li>
                    <li id="menu-item-71" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-71"><a href="http://primal7.com/origins/about-us/">Origins</a></li>
                    <li id="menu-item-72" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-72"><a href="http://primal7.com/connect/contact/">Connect</a></li>
                    <li id="menu-item-73" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-73"><a href="http://primal7.com/">Home</a></li>
                </ul>
            </nav> 
        </section>
        <section class="l-footer-copyright">
            <p>{{ "now" | date: "%Y" }} &copy; of 12Novem Industries, LLC Austin, Texas</p>
        </section>
    </footer>
</div> <!-- ends l-container -->
{{ 'jquery-1.11.0.min.js'  | asset_url | script_tag }}
{{ 'plugins.js'  | asset_url | script_tag }}
{{ 'main.js'  | asset_url | script_tag }}
</body>
</html>