<div class="l-banner">
    <h1 class="banner-heady">Shop</h1>
    <nav class="main-subpage-nav in-banner clearfix">
        <ul class="l-horizontal-nav clearfix">
            <li>
                <a href="{{ shop.url }}" class="subpage-pill">Shop</a>
            </li>
            <li>
                <a href="/cart" class="subpage-pill active">Cart</a>
            </li>
        </ul>
    </nav>
</div>
<div class="l-content-panel is-first expand-inner">
  <div class="mini-banner clearfix">
    <div class="l-mini-banner-col">
      <h1>Your Cart</h1>    
    </div>
    <div class="l-mini-banner-col squeeze-text">
      <p>Thank you very much for your purchase. Please let us know if there is anything else we can do for you.</p>
    </div>

    
  </div>
  <div class="panel-down-btn">
    
  </div>
</div>
<div class="l-content-panel expand-inner">

  <div class="cart-sub-panel">
    <table class="cart-table">
      <thead>
        <tr>
          <th class="product-col product-col-th">Product</th>
          <th class="title-col">Title</th>
          <th class="quantity-col">Quantity</th>
          <th class="update-col update-col-th">Update</th>
        </tr>
      </thead>
      <tbody>
        {% if cart.item_count > 0 %}
          <form action="/cart" method="post">
            {% for item in cart.items %}
              <tr>
                <td class="product-col product-col-td">
                  <a href="{{ item.product.url | within: collections.all }}">
                    <img src="{{ item.product.featured_image.src | product_img_url: 'compact' }}" alt="{{ item.title | escape }}" />
                  </a>
                </td>
                <td class="title-col title-col-td">
                  <p>
                    {{ item.title }}
                  </p>
                </td>
                <td class="quantity-col quantity-col-td">
                  <input class="cart-quantity" type="number" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" />
                </td>
                <td class="update-col update-col-td">
                  <input class="update-cart-btn" type="submit" name="update" value="Update" />
                </td>
              </tr>
            {% endfor %}
              <tr class="total-row">
                <td class="product-col product-col-td">
                  <p class="referal-code"><label for="attributes[referal-code]">Enter referal code: </label><input type="text" name="attributes[referal-code]" value="{{ cart.attributes.referal-code }}" /></p>
                </td>
                <td class="title-col title-col-td">
                </td>
                <td class="quantity-col quantity-col-td">
                  <p class="cart-update-title">UPDATE:</p>
                </td>
                <td class="update-col update-col-td">
                  <p class="cart-total">{{ cart.total_price | money }}</p>
                </td>
              </tr>
              <tr class="checkout-row">
                <td class="product-col product-col-td">
                  <p><a href="{{ shop.url }}">Continue shopping</a></p>
                </td>
                <td class="title-col title-col-td">
                </td>
                <td class="quantity-col quantity-col-td">
                </td>
                <td class="update-col update-col-td">
                  <input class="checkout-btn" type="submit" name="checkout" value="Checkout" />
                  {% if additional_checkout_buttons %}
                  <div class="additional-checkout-buttons">
                    <p>or pay with</p>
                    {{ content_for_additional_checkout_buttons }}
                  </div>
                  {% endif %}  
                </td>
              </tr>
          </form>
        {% else %}
          <tr>
            <td colspan="4"><p>No items are in your cart.<br><a href="{{ shop.url }}">Continue shopping.</a></p></td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
  
  <div class="panel-down-btn">
    
  </div>
  <div class="panel-up-btn">
    
  </div>
</div>