{% paginate collection.products by 50 %}
<div class="l-banner">
    <h1 class="banner-heady">Shop</h1>
    <nav class="main-subpage-nav in-banner clearfix">
        <ul class="l-horizontal-nav clearfix">
            <li>
                <a href="{{ shop.url }}" class="subpage-pill active">Shop</a>
            </li>
            <li>
                <a href="/cart" class="subpage-pill">Cart</a>
            </li>
        </ul>
    </nav>
</div>
<article class="l-content-panel is-first">
    <div class="l-content-panel-col-left">
        <h1 class="panel-heading">
            {{ collection.title }}
        </h1>
    </div>
    <div class="l-content-panel-col-right">
        <h1 class="section-content-heading collection-product-description">
            Collection Description
        </h1>
        <section class="product-section-overview">
            <div class="rte">
                {{ collection.description }}
            </div>
        </section>
    </div>
    <div class="panel-down-btn">
        
    </div>
    <div class="panel-up-btn">
        
    </div>
</article>
{% for product in collection.products %}
    <article class="l-content-panel first">
        <div class="l-content-panel-col-left">
            <h1 class="panel-heading panel-heading-alt">
                {{ product.title }}
            </h1>
        </div>
        <div class="l-content-panel-col-right">
            <h1 class="section-content-heading collection-product-description">
                Product Description
            </h1>
            <section class="product-section-overview">
                <div class="rte">
                    {{ product.description }}
                </div>
                <div class="collection-product-more-info clearfix">
                    <h2 class="collection-product-price"><span>Price =</span> {{ product.price | money }}</h2>
                    <a href="{{ product.url | within: collection }}" class="view-item-btn">View Item</a>
                </div>
                {% if product.images.size > 0 %}
                    <div class="collection-featured-image">
                        <img src="{{ product.featured_image.src | product_img_url: 'grande' }}" alt="{{ product.featured_image.alt | escape }}" />
                    </div>
                {% endif %}
            </section>
        </div>
        <div class="panel-down-btn">
            
        </div>
        <div class="panel-up-btn">
            
        </div>
    </article>
{% endfor %}
{% endpaginate %}