<div class="l-banner">
    <h1 class="banner-heady">Shop</h1>
    <nav class="main-subpage-nav in-banner clearfix">
        <ul class="l-horizontal-nav clearfix">
            <li>
                <a href="{{ shop.url }}" class="subpage-pill active">Shop</a>
            </li>
            <li>
                <a href="/cart" class="subpage-pill">Cart</a>
            </li>
        </ul>
    </nav>
</div>
<article class="l-content-panel l-product-panel-full-width" itemscope itemtype="http://schema.org/Product">
    <div class="l-content-panel-col-left l-product-images-col">
        <meta itemprop="url" content="{{ shop.url }}{{ product.url }}" />
      <meta itemprop="image" content="{{ product.featured_image.src | product_img_url: 'grande' }}" />
        <div class="l-product-main-image-con">
            <img src="{{ product.featured_image.src | product_img_url: 'grande' }}" alt="{{ product.featured_image.alt | escape }}" class="product-main-image">
        </div>
        {% if product.images.size > 1 %}
            <div class="l-product-images-thmb-con clearfix">
                <ul class="product-images-thmb">
                    {% for image in product.images offset: 1 %}
                        <li{% cycle '', '', ' class="last"' %}>
                            <a class="product-image-link" href="{{ image.src | product_img_url: 'grande' }}">
                              <img class="product-thmb" src="{{ image.src | product_img_url: 'medium' }}" alt="{{ image.alt | escape }}" />
                            </a>
                        </li>
                    {% endfor %}
                    <li class="last">
                        <a class="product-image-link" href="{{ product.featured_image.src | product_img_url: 'grande' }}">
                          <img class="product-thmb" src="{{ product.featured_image.src | product_img_url: 'medium' }}" alt="{{ product.featured_image.alt | escape }}" />
                        </a>
                    </li>
                </ul>
            </div>
        {% endif %}
    </div>
    <div class="l-content-panel-col-right l-product-details-col">
        <form action="/cart/add" method="post" enctype="multipart/form-data">
            <div class="product-details-title-price clearfix">
                <h1 class="product-details-title" itemprop="name">{{ product.title }}</h1>
                <div class="product-details-price-con" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                    <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
                    {% if product.available %}
                        <link itemprop="availability" href="http://schema.org/InStock" />
                    {% else %}
                        <link itemprop="availability" href="http://schema.org/OutOfStock" />
                    {% endif %}
                    {% if product.compare_at_price > product.price %}
                        <span class="product-details-price product-details-on-sale" itemprop="price">{{ product.price | money }}</span>
                        <span class="product-details-compare-price">{{ product.compare_at_price_max | money }}</span>
                    {% else %}
                        <span class="product-details-price" itemprop="price">{{ product.price | money }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="product-details-purchase">
                {% assign hide_default_title = false %}
                {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
                    {% assign hide_default_title = true %}
                {% endif %} 
                <div id="product-variants" class="{% if hide_default_title %} hidden{% endif %}">
                     <select id="product-select" name="id">
                        {% for variant in product.variants %}
                            <option value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
                        {% endfor %}
                     </select>
                </div>
            </div>
            <div class="product-details-add-to-con">
                <div id="product-add">
                    <input type="submit" name="add" id="add" class="add-to-cart" value="Add to cart">
                    <a href="/cart" class="view-cart-btn">View Cart</a>
                </div>
            </div>
        </form>
        <div class="product-details-desc" itemprop="description">
            {{ product.description }}
        </div>
        <div class="product-details-desc">
            <h2>Shipping Notes:</h2>
            <p>Items in stock will ship within five business days of placing your order. For orders placed after 5pm CST, your order will be processed the following day. Estimated delivery will depend on the shipping option you select at checkout.</p>

        </div>
    </div>
    <div class="panel-down-btn">
        
    </div>
    <div class="panel-up-btn">
        
    </div>
</article>
<script>
  
// var selectCallback = function(variant, selector) {

//   if (variant) {
    
//     // Selected a valid variant that is available.
//     if (variant.available) {
          
//       // Enabling add to cart button.
//       jQuery('#add').removeClass('disabled').removeAttr('disabled').val('Add to Cart').fadeTo(200,1);
    
//       // If item is backordered yet can still be ordered, we'll show special message.
//       if (variant.inventory_management && variant.inventory_quantity <= 0) {
//         jQuery('#selected-variant').html({{ product.title | json }}{% unless hide_default_title %} + ' - ' + variant.title{% endunless %});
//         jQuery('#backorder').removeClass("hidden");
//       } else {
//         jQuery('#backorder').addClass("hidden");
//       }
      
//     } else {
//       // Variant is sold out.
//       jQuery('#backorder').addClass('hidden');
//       jQuery('#add').val('Sold Out').addClass('disabled').attr('disabled', 'disabled').fadeTo(200,0.5);        
//     }
    
//     // Whether the variant is in stock or not, we can update the price and compare at price.
//     if ( variant.compare_at_price > variant.price ) {
//       jQuery('#product-price').html('<span class="product-price on-sale">'+ Shopify.formatMoney(variant.price, "{{ shop.money_format }}") +'</span>'+'&nbsp;<s class="product-compare-price">'+Shopify.formatMoney(variant.compare_at_price, "{{ shop.money_format }}")+ '</s>');
//     } else {
//       jQuery('#product-price').html('<span class="product-price">'+ Shopify.formatMoney(variant.price, "{{ shop.money_format }}") + '</span>' );
//     }        

//   } else {
//     // variant doesn't exist.
//     jQuery('#backorder').addClass('hidden');
//     jQuery('#add').val('Unavailable').addClass('disabled').attr('disabled', 'disabled').fadeTo(200,0.5);
//   }

// };
  
// jQuery(function($) {

//   new Shopify.OptionSelectors('product-select', { product: {{ product | json }}, onVariantSelected: selectCallback });
  
//   // Add label if only one product option and it isn't 'Title'.
//   {% if product.options.size == 1 and product.options.first != 'Title' %}
//     $('.selector-wrapper:eq(0)').prepend('<label>{{ product.options.first }}</label>');
//   {% endif %}
  
//   // Auto-select first available variant on page load.
//   {% assign found_one_in_stock = false %}
//   {% for variant in product.variants %}
//     {% if variant.available and found_one_in_stock == false %}
//       {% assign found_one_in_stock = true %}
//       {% for option in product.options %}
//       $('.single-option-selector:eq({{ forloop.index0 }})').val({{ variant.options[forloop.index0] | json }}).trigger('change');
//       {% endfor %}
//     {% endif %}
//   {% endfor %}

// });

</script>